@import "tailwindcss";

/* ==========================================
   RESET
========================================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================
   BASE
========================================== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

/* ==========================================
   MEDIA
========================================== */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ==========================================
   FORMS
========================================== */

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

/* ==========================================
   LINKS
========================================== */

a {
    text-decoration: none;
    color: inherit;
}

/* ==========================================
   LISTS
========================================== */

ul,
ol {
    list-style: none;
}

/* ==========================================
   TABLES
========================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==========================================
   TEXT
========================================== */

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* ==========================================
   SCROLLBAR
========================================== */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 999px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* ==========================================
   CONTAINER
========================================== */

.container-custom {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1rem;
}